<!-- featured categories -->
<div class="categories" xmlns="http://www.w3.org/1999/html">
  <div class="small-container">
    <div class="row">

      <div class="col-3">
        <img src="./assets/Kyrie-3-Hamsa-1.webp" alt="">
      </div>
      <div class="col-3">
        <img src="./assets/Socks.png" alt="">
      </div>
      <div class="col-3">
        <img src="./assets/Shirt.png" alt="">
      </div>
    </div>
  </div>
</div>

<!-- featured products -->
<div class="small-container">
  <h2 class="title">Featured Products</h2>
  <div class="row">
    @for(ShopList of productService.shopLists; track ShopList.id)
    {
      @if(ShopList.stock>0 && ShopList.price>0){
        <div class="col-4" >
          <img [src]="ShopList.img" alt="">
          <h4 class="item-name">{{ ShopList.name }}</h4>
          <p>Description: {{ ShopList.description }}</p>
          <p>Inventory quantity: {{ ShopList.stock }}</p>
          <p>${{ShopList.price}}</p>
          <button class="cart" routerLink="/detail" [queryParams]="{ product: ShopList.id }" routerLinkActive>
        <span class="material-symbols-outlined">
          shopping_cart
        </span>
          </button>
        </div>
      }
    }
  </div>
</div>

<!--<dialog #formup>-->
<!--  <body class="align">-->

<!--  <div class="grid">-->

<!--    <form [formGroup]="formupdate" action="/" method="post" class="form login">-->

<!--      <header class="login__header">-->
<!--        <h3 class="login__title">Add new shoes</h3>-->
<!--      </header>-->

<!--      <div class="login__body">-->
<!--        <div class="form__field">-->
<!--          <input formControlName="id" readonly type="text" placeholder="Id" required>-->
<!--        </div>-->

<!--        <div class="form__field">-->
<!--          <input formControlName="img" type="text" placeholder="Product image" required>-->
<!--        </div>-->

<!--        <div class="form__field">-->
<!--          <input formControlName="name" type="text" placeholder="Product name" required>-->
<!--        </div>-->

<!--        <div class="form__field">-->
<!--          <input formControlName="description" type="text" placeholder="Description" required>-->
<!--        </div>-->

<!--        <div class="form__field">-->
<!--          <input formControlName="stock" type="text" placeholder="Stock" required>-->
<!--        </div>-->
<!--        <div class="form__field">-->
<!--          <input formControlName="price" type="text" placeholder="Price" required>-->
<!--        </div>-->
<!--      </div>-->

<!--      <footer class="login__footer">-->
<!--        <input (click)="updateItem()" type="submit" value="Update">-->
<!--      </footer>-->

<!--    </form>-->

<!--  </div>-->

<!--  </body>-->
<!--</dialog>-->
