<div class="shoes">
  <div class="shoes-cart">
    <img class="img-cart" src="./assets/Kyrie1.jpg" alt="">
    <div class="shoes-info">
      <div class="shoes-name-cost">
        <h4 class="shoes-name">Nike kyrie 3</h4>
        <p class="shoes-cost">$100.00</p>
      </div>
      <form class="b-form" [formGroup]="testForm">
        <label tuiLabel="Quantity">
          <tui-input-count formControlName="testValue1" tuiTextfieldSize="l" [max]="999999" [tuiTextfieldLabelOutside]="true"></tui-input-count>
        </label>
      </form>
    </div>
  </div>
  <div class="below-shoes-cart">
    <div class="continue-shop">
                <span class="material-symbols-outlined">
                    arrow_back
                </span>
      <p class=continue-txt>Continue Shopping</p>
    </div>
    <div class="total-price">
      <div class="price">
        <div class="subtotal">
          <span>Subtotal: </span>
          <span>$100</span>
        </div>
        <div class="shipping">
          <span>Shipping: </span>
          <span>$10</span>
        </div>
      </div>
      <div class="total">
        <span>Total: </span>
        <span>$110</span>
      </div>
    </div>


  </div>
</div>
