<div class="shoes">
  @for (cartList of tempCartList; track cartList.id; let i = $index) {
  <div class="shoes-cart">
    <img class="img-cart" [src]="cartList.img" alt="">
    <div class="shoes-info">
      <div class="shoes-name-cost">
        <h4 class="shoes-name">{{ cartList.name }}</h4>
        <!-- <p class="shoes-cost">${{ cartList.price }}</p> -->
        <div class="shoes-cost">
          <span>${{ count(this.quantityFormList[i].value, cartList.price) }}</span>
        </div>

      </div>
      <form class="b-form">
        <label tuiLabel="Quantity">
          <tui-input-count tuiTextfieldSize="l" [formControl]="this.quantityFormList[i]" [min]="1" [max]="999999"
            [tuiTextfieldLabelOutside]="true">
          </tui-input-count>
        </label>
        <button appearance="secondary-destructive" icon="tuiIconTrashLarge" shape="rounded" size="s" title="Remove"
          tuiIconButton type="button" class="remove" (click)="removeProduct(i)"></button>
      </form>
    </div>
  </div>
  }
  <div class="below-shoes-cart">
    <div class="continue-shop">
      <span class="material-symbols-outlined" routerLink="/layout/home">
        arrow_back
      </span>
      <p class=continue-txt>Continue Shopping</p>
    </div>

    <div class="total-price">
      <div class="price">
        <div class="shipping">
          <span>Shipping: </span>
          <span>${{ shipping }}</span>
        </div>
      </div>
      <div class="total">
        <span>Total: </span>
        <!-- <span>{{ count(this.quantityFormList[i].value, cartList.price) + shipping }}</span> -->
        <span>${{ cart.total + shipping }}</span>
      </div>
    </div>



  </div>
</div>