* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar {
  display: flex;
  align-items: center;
  padding: 10px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 50px;
}

a {
  text-decoration: none;
  color: #555;
}

p {
  color: #555;
}

.container {
  width: 100%;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;

}

.logo {
  width: 40%;
  height: 20%;
}

.shoes-detail {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.detail-shoes {
  width: 100%;
  height: 100%;
}

.img-detail {
  border-radius: 15px;
  width: 40%;
  height: 20%;
}

.theme {
  width: 650px;
  height: 550px;
}

.shoes-info {
  padding-left: 20px;
}
.input-count{
  padding-top: 0;
}
.shoes-name {
  height: 7%;
  margin-top: 10px;
  font-size: 50px;
  color: black;
}
.delivery-below{
  margin-top: 8px;
  font-size: 14px;
}
.shoes-rating {
  font-size: 25px;
}

.shoes-sold {
  font-size: 25px;
  color: #999;
}

.sold-number {
  color: black;
}
.b-form{
  padding-top: 10px;
  //padding-bottom: 15px;
}
.shoes-cost {
  padding-top: 20px;
  font-size: 45px;
  padding-bottom: 10px;
  color: #ff523b;
}

.shoes-description {
  padding-top: 20px;
  font-size: 20px;
  padding-bottom: 10px;
}

.rating {
  padding-top: 10px;
}
.inside-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  max-width: 100%;
  padding: 0;
  border: 10px solid;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.btn {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}

.btn:hover {
  background: #563434;
}

.header {
  background: radial-gradient(#fff, #ffd6d6);
}

.categories {
  margin: 70px 0;
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-3 img {
  width: 100%;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 100px;
  transition: transform 1s;
}

.col-4 img {
  width: 100%;
}

.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.title::after {
  content: '';
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

h4 {
  color: #555;
  font-weight: normal;
}

.col-4 p {
  font-size: 14px;
}

.col-4:hover {
  transform: translateY(-5px);
}

/* offer */
.offer {
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}

.col-2 .offer-img {
  padding: 50px;
}

.quantity {
  width: 160px;
}

/* it will support chrome and firefox */
.quantity input[type=number]::-webkit-inner-spin-button,
.quantity input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.quantity input,
.quantity button {
  width: 50px;
  padding: .5em;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 900;
  background: white;
  border: 1px solid #aaa;
}

.quantity input {
  border-left: none;
  border-right: none;
}
.quantity-detail{
  padding-top: 20px;
  display: flex;
  flex-direction: row;
}
.quantity-txt{
  margin-left: 10px;
  font-size: 20px;
  color: black;
}
.btn-add-to-cart {
  width: 80%;
  height: 8%;
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.inside-txt{
  font-size: 14px;
  margin-left: 10px;
  color: #fff;
}
.delivery{
  padding-top: 20px;
  display: flex;
  flex-direction: row;
}
.delivery-text{
  font-size: 20px;
  color: black;
}
.delivery-info{
margin-left: 10px;
}
.cart-container {
  width: 90%;
  border: 1px solid #E0E4CC;
  border-radius: 5px;
  margin-top: 1em;
  padding: 1em;
  margin-left: 70px;
}

#carttotals {
  margin-right: 0;
  margin-left: auto;
}

#carttotals {
  margin-right: 0;
  margin-left: auto;
}

.cart-buttons {
  margin-top: 10px;
}

#emptycart {
  margin-left: 89em;
  margin-right: 1em;
}
