<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col-1">
        <h3>Shop now on Our App</h3>
        <p>Download App for Android and ios mobile phone.</p>
        <div class="app-logo">
          <img class="GooglePlay" src="./assets/GooglePlay.jpg" alt="">
          <img class="AppStore" src="./assets/AppStore.jpg" alt="">
        </div>
      </div>
      <div class="footer-col-2">
        <img src="./assets/redstore.png" alt="">
        <p>Our Purpose Is to Sustainably Make the Pleasure and <Br> Benefits of Sports Accessible to the Many.
        </p>
      </div>
      <div class="footer-col-3">
        <h3>Useful Links</h3>
        <ul>
          <li>Coupons</li>
          <li>Blog Post</li>
          <li>Return Policy</li>
          <li>Join Affiliate</li>
        </ul>
      </div>
      <div class="footer-col-4">
        <h3>Follow us</h3>
        <ul>
          <li>Facebook</li>
          <li>Twitter</li>
          <li>Instagram</li>
          <li>YoutTube</li>
        </ul>
      </div>
    </div>
    <hr>
    <p class="Copyright">Copyright 2020</p>
  </div>
</div>
