<div class="header">
  <div class="container">
    <div class="navbar">
      <div class="left-navbar">
        <img class="logo" src="https://seeklogo.com/images/K/kyrie-logo-FBB1AFC1E7-seeklogo.com.png" alt="Ảnh HTML">
        <a href="" class="name-shop">Kyrie Shoes</a>
      </div>
      <nav>
        <ul>
          @for(MenuItem of menuItems; track MenuItem.label)
          {
            <li><a class="page" [routerLink]="MenuItem.link">{{MenuItem.label}}</a></li>
          }
        </ul>
      </nav>
<!--      <button class="btn-add" (click)="openDialog()">Add new shoes</button>-->
      <a (click)=" goToCart()">
        <img class="img-cart" src="./assets/Cart.png" alt="Mô tả hình ảnh">
      </a>
    </div>
  </div>
</div>
